* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.nav-contenedor {                                   /* contenedor padre de navbar */
    height: 50px; 
    display: flex; 
    flex-direction: row-reverse; 
    margin-right: 100px;  
    margin-top: 25px; 
}
.contenedor-link {                                  /* contenedor de links */
    display: flex; 
    gap: 70px;  
}

.contenedor-link > li > a {                         /* estilo de cada link  */
    text-decoration: none; 
}

h1, h2 {
    text-align: center; 
}

label::after {
    content: '*'; 
}

.contenedor-conversor {
    width: 500px; 
    height: 200px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    border: 2px solid black; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 25px; 
}

.contenedor-botones {
    margin-top: 10px; 
    text-align: center;
}

.label-input {
    margin-left: auto; 
    margin-right: auto; 
}